/* Everythin between these is a comment */
/* Everything inside of body is visible in the website */
body {
    height: 100%;
    width: 100%;
    /*background-image: url('https://img.freepik.com/premium-vector/full-stack-developer-working-computer-it-professional-programmer-coding-website-creation-proccess-computer-technology_277904-5495.jpg?w=2000');*/
    background-color: rgba(245, 245, 245, 0.250);
    background-position: center;
    margin: 20px;
    /*
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    margin: top right bottom left
    margin: 20px 20px 20px 20px;

    margin: top right bottom
    margin: 20px 20px 20px

    margin: top/bottom right/left
    margin: 20px 20px

    margin: top right bottom left
    margin: 20px

    margin: inherit;
    */


}

/* ID */
#website_Title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
h2 {
    background-color: antiquewhite;
}

/* Select only the headers that have class 'heading' */
h2.heading {
    color: whitesmoke;
    background-color: rgba(0, 87, 128, 0.653);
}

/* Select based on Class */
.text_Part {
    background-color: bisque;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}

h3, .div_Hello{
    background-color:rgba(128, 128, 128, 0.250)
}

.wallpaper {
    opacity: 0.25;
}

.iFrames {
    margin:50px
}

* {
    font-family:'Times New Roman', Times, serif;
    
}